<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor Stripe Demo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="" Match="NavLinkMatch.All">
                <span class="bi bi-cart-fill me-2" aria-hidden="true"></span>
                <span class="bi bi-credit-card me-2" aria-hidden="true"></span>
                <span>Shop</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="success">
                <span class="bi bi-check-circle-fill me-2" aria-hidden="true"></span>
                <span>Success</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="cancel">
                <span class="bi bi-x-circle-fill me-2" aria-hidden="true"></span>
                <span>Cancel</span>
            </NavLink>
        </div>
    </nav>
</div>

